[Unit]
Description=Run Autopost Instagram Video Service every 24 hours

[Timer]
#OnBootSec=5min
#OnUnitActiveSec=4h
#OnActiveSec=1m
OnCalendar=Mon..Sun *-*-* 19:00:00
Persistent=true

[Install]
WantedBy=timers.target