[Unit]
Description=Autopost Instagram Video Service
After=network.target

[Service]
ExecStart=/usr/bin/python3 %h/autopotter/autopost.py --config %h/printer_data/config/autopost_config.json
Restart=on-failure
StandardOutput=append:%h/printer_data/logs/autopotter.log
StandardError=append:%h/printer_data/logs/autopotter.log